.lyn-label
    display inline-block
    padding-bottom 0.25rem
    width 100%
    color $lyn-grey400
    
    &.medium
        @extend .lyn-label-font

    &.small
        @extend .lyn-subtitle2-font

    &.no-padding
        padding 0 !important

    .label-star
        color $primary-blue
        margin-right 0.25rem
        @extend .lyn-body-font
