$lyn-alert300 = #D82E22
$lyn-alert200 = #E76B55
$lyn-alert100 = #FDE3D2
$lyn-alert050 = #FFF1EE

$lyn-warning300 = #FFC53F
$lyn-warning200 = #FFD666
$lyn-warning100 = #FFF4CC

$lyn-info300 = #0088BC
$lyn-info200 = #00AFDB
$lyn-info100 = #CAFDF8

$lyn-success800 = #224718
$lyn-success300 = #6AC40F
$lyn-success200 = #97DB43
$lyn-success100 = #EEFCCD

$lyn-primary-black = #0C0D10
$lyn-grey400 = #5A606F
$lyn-grey300 = #9BA4B7
$lyn-grey200 = #CFD7E7
$lyn-grey100 = #E6EBF3
$lyn-grey050 = #F5F8FD
$lyn-white = #FFFFFF

$lyn-primary-surface = #FCF1E6
$lyn-surface400 = #FDF5EC
$lyn-surface300 = #FEF8F0
$lyn-surface200 = #FEFBF5
$lyn-surface100 = #FEFDFA

$lyn-orange800 = #784F03
$lyn-orange700 = #926305
$lyn-orange600 = #B58108
$lyn-primary-orange = #FCC111
$lyn-orange400 = #FDD54C
$lyn-orange300 = #FEE16F
$lyn-orange200 = #FEEE9F
$lyn-orange100 = #FEF7CF

$lyn-blue800 = #030162
$lyn-blue700 = #040277
$lyn-blue600 = #070494
$lyn-primary-blue = #3152E8
$lyn-blue400 = #322DC7
$lyn-blue300 = #6A66F0
$lyn-blue200 = #9D9AFA
$lyn-blue100 = #CDCCFC
$lyn-blue050 = #E9E9FF

$lyn-green500 = #2AB614

.color-lyn-alert300
    color $lyn-alert300
    &:before, &:after
        color $lyn-alert300 !important

.color-lyn-alert200
    color $lyn-alert200
    &:before, &:after
        color $lyn-alert200 !important

.color-lyn-alert100
    color $lyn-alert100
    &:before, &:after
        color $lyn-alert100 !important

.color-lyn-alert050
    color $lyn-alert050
    &:before, &:after
        color $lyn-alert050 !important

.color-lyn-warning300
    color $lyn-warning300
    &:before, &:after
        color $lyn-warning300 !important

.color-lyn-warning200
    color $lyn-warning200
    &:before, &:after
        color $lyn-warning200 !important

.color-lyn-warning100
    color $lyn-warning100
    &:before, &:after
        color $lyn-warning100 !important


.color-lyn-info300
    color $lyn-info300
    &:before, &:after
        color $lyn-info300 !important

.color-lyn-info200
    color $lyn-info200
    &:before, &:after
        color $lyn-info200 !important

.color-lyn-info100
    color $lyn-info100
    &:before, &:after
        color $lyn-info100 !important

.color-lyn-success800
    color $lyn-success800
    &:before, &:after
        color $lyn-success800 !important

.color-lyn-success300
    color $lyn-success300
    &:before, &:after
        color $lyn-success300 !important

.color-lyn-success200
    color $lyn-success200
    &:before, &:after
        color $lyn-success200 !important

.color-lyn-success100
    color $lyn-success100
    &:before, &:after
        color $lyn-success100 !important


.color-lyn-primary-black
    color $lyn-primary-black
    &:before, &:after
        color $lyn-primary-black !important

.color-lyn-grey400
    color $lyn-grey400
    &:before, &:after
        color $lyn-grey400 !important

.color-lyn-grey300
    color $lyn-grey300
    &:before, &:after
        color $lyn-grey300 !important

.color-lyn-grey200
    color $lyn-grey200
    &:before, &:after
        color $lyn-grey200 !important

.color-lyn-grey100
    color $lyn-grey100
    &:before, &:after
        color $lyn-grey100 !important

.color-lyn-grey050
    color $lyn-grey050
    &:before, &:after
        color $lyn-grey050 !important

.color-lyn-white
    color $lyn-white
    &:before, &:after
        color $lyn-white !important


.color-lyn-orange800
    color $lyn-orange800
    &:before, &:after
        color $lyn-orange800 !important

.color-lyn-orange700
    color $lyn-orange700
    &:before, &:after
        color $lyn-orange700 !important

.color-lyn-orange600
    color $lyn-orange600
    &:before, &:after
        color $lyn-orange600 !important

.color-lyn-primary-orange
    color $lyn-primary-orange
    &:before, &:after
        color lyn-primary-orange !important

.color-lyn-orange400
    color $lyn-orange400
    &:before, &:after
        color $lyn-orange400 !important

.color-lyn-orange300
    color $lyn-orange300
    &:before, &:after
        color $lyn-orange300 !important

.color-lyn-orange200
    color $lyn-orange200
    &:before, &:after
        color $lyn-orange200 !important

.color-lyn-orange100
    color $lyn-orange100
    &:before, &:after
        color $lyn-orange100 !important


.color-lyn-blue800
    color $lyn-blue800
    &:before, &:after
        color $lyn-blue800 !important

.color-lyn-blue700
    color $lyn-blue700
    &:before, &:after
        color $lyn-blue700 !important

.color-lyn-blue600
    color $lyn-blue600
    &:before, &:after
        color $lyn-blue600 !important

.color-lyn-primary-blue
    color $lyn-primary-blue
    &:before, &:after
        color $lyn-primary-blue !important

.color-lyn-blue400
    color $lyn-blue400
    &:before, &:after
        color $lyn-blue400 !important

.color-lyn-blue300
    color $lyn-blue300
    &:before, &:after
        color $lyn-blue300 !important

.color-lyn-blue200
    color $lyn-blue200
    &:before, &:after
        color $lyn-blue200 !important

.color-lyn-blue100
    color $lyn-blue100
    &:before, &:after
        color $lyn-blue100 !important

.color-lyn-blue050
    color $lyn-blue050
    &:before, &:after
        color $lyn-blue050 !important

.color-lyn-green500
    color $lyn-green500
    &:before, &:after
        color $lyn-green500 !important