@font-face
    font-family AvertaStd-Semibold
    src url(/fonts/AvertaStd-Semibold.ttf)

@font-face
    font-family AvertaStd-Regular
    src url(/fonts/AvertaStd-Regular.ttf)

.lyn-h1-font
    font-family "AvertaStd-Semibold"
    font-size 1.5rem
    line-height 2rem

.lyn-h2-font
    font-family "AvertaStd-Semibold"
    font-size 1.25rem
    line-height 1.5rem

.lyn-h3-font
    font-family "AvertaStd-Semibold"
    font-size 1.125rem
    line-height 1.375rem

.lyn-body-font
    font-family "AvertaStd-Regular"
    font-size 1rem
    line-height 1.25rem

.lyn-body-semibold-font
    font-family "AvertaStd-SemiBold"
    font-size 1rem
    line-height 1.25rem

.lyn-body2-font
    font-family "AvertaStd-Regular"
    font-size 0.875rem
    line-height 1.125rem

.lyn-body2-semibold-font
    font-family "AvertaStd-SemiBold"
    font-size 0.875rem
    line-height 1.125rem

.lyn-button-font
    font-family "AvertaStd-Semibold"
    font-size 1rem
    line-height 1.125rem

.lyn-subtitle-font
    font-family "AvertaStd-Regular"
    font-size 1rem
    line-height 1.25rem

.lyn-subtitle-semibold-font
    font-family "AvertaStd-Semibold"
    font-size 1rem
    line-height 1.25rem

.lyn-subtitle2-font
    font-family "AvertaStd-Semibold"
    font-size 0.875rem
    line-height 0.875rem

.lyn-caption-font
    font-family "AvertaStd-Regular"
    font-size 0.75rem
    line-height 1rem

.lyn-callout-font
    font-family "AvertaStd-Regular"
    font-size 0.75rem
    line-height 1.25rem

.lyn-label-font
    font-family "AvertaStd-Semibold"
    font-size 1rem
    line-height 1.5rem

.lyn-error-font
    font-family "AvertaStd-Semibold"
    font-size 0.875rem
    line-height 1.25rem