lyn-desktop = "only screen and (max-width: 3840px)"
lyn-laptop = "only screen and (max-width: 1279px)"
lyn-tablet = "only screen and (max-width: 962px)"
lyn-mobile = "only screen and (max-width: 767px)"