lyn-shadow-large()
    box-shadow 0rem 2rem 3.75rem rgba(12, 13, 16, 0.08) !important

lyn-shadow-medium()
    box-shadow 0rem 1rem 2.5rem rgba(12, 13, 16, 0.08) !important

lyn-shadow-small()
    box-shadow 0rem 0.5rem 1.5rem rgba(12, 13, 16, 0.08) !important

lyn-shadow-extra-small()
    box-shadow 0rem 0.25rem 0.75rem rgba(12, 13, 16, 0.08) !important


lyn-shadow-large-blue()
    box-shadow 0rem 2rem 3.75rem rgba(49, 82, 232, 0.08) !important

lyn-shadow-medium-blue()
    box-shadow 0rem 1rem 2.5rem rgba(49, 82, 232, 0.08) !important

lyn-shadow-small-blue()
    box-shadow 0rem 0.5rem 1.5rem rgba(49, 82, 232, 0.08) !important

lyn-shadow-extra-small-blue()
    box-shadow 0rem 0.25rem 0.75rem rgba(49, 82, 232, 0.08) !important