.lyn-button
    position relative
    display flex
    justify-content center
    align-items center
    gap 0.75rem
    height fit-content
    width fit-content
    border-radius 0.5rem
    box-sizing border-box
    border 0.125rem solid transparent
    @extend .lyn-button-font
    lyn-transition-ease()
    &:hover
        cursor pointer

    &:disabled
        cursor not-allowed

    &.primary
        color $lyn-white
        background $lyn-primary-blue
        &:hover, &:focus
            background $lyn-blue400
            lyn-shadow-small-blue()

        &:active
            background $lyn-blue600

        &:disabled
            background $lyn-grey200 

    &.secondary
        background $lyn-white
        color $lyn-primary-blue
        border 0.125rem solid $lyn-primary-blue
        lyn-transition-fast-ease(color)
        lyn-transition-slow-ease(border)
        &:hover, &:focus
            background $lyn-grey050
            lyn-shadow-small-blue()
        
        &:active
            background $lyn-grey100

        &:disabled
            background $lyn-white
            color $lyn-grey200
            border 0.125rem solid $lyn-grey200

    &.tertiary
        box-sizing border-box
        lyn-transition-fast-ease()
        color $lyn-grey400

        &:hover, &:focus
            outline none
            background $lyn-grey050
            color $lyn-primary-blue

        &:active
            background $lyn-grey100

        &:disabled
            color $lyn-grey300
            background $lyn-white !important

        span::before
            lyn-transition-slow-ease()
            color $lyn-grey400 !important

        &:hover
            span::before
                color $lyn-primary-blue !important

    &.medium
        padding 0.625rem 2rem
        min-height 2.5rem

    &.small
        min-height 2.125rem
        padding 0.4375rem 1.25rem
        @extend .lyn-body2-semibold-font

    .button-text
        lyn-transition-ease()
        display flex
        align-items center
        gap 0.5rem
        &.hide
            visibility hidden
            opacity 0
            pointer-events none
            user-select none

    .lyn-loading
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)