.lyn-error
    @extend .lyn-error-font
    color $lyn-alert300
    height 0
    opacity 0
    lyn-transition-fast-ease()

    &.show
        opacity 1
        height auto

    &.small
        @extend .lyn-error-small-font